body{
    background: darkgray;
    color: darkmagenta;
}
h1,h3,table{
    color:darkblue;
}
h2, h4{
    color: darkmagenta;
}
table, th, tr{
    border: 2px darkmagenta
}
th,td{
    padding: 10px;
}
th{
    text-align: left;
}
table{
    border-spacing: 5px;
}